.mc-comments{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: 'Minecraftia', sans-serif;
    font-size: 20px;
}
.comment-content{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url("https://i.ibb.co/rb2TWXL/bgbtn.png");
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: 'Minecraftia', sans-serif;
    font-size: 20px;
    width: 50%;
}